body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 8px;
}

.title {
  background: #e3f4ff;
  font-size: 15px;
  margin-top: 0px;
  margin-bottom: 8px;
  padding: 8px;
}

.content {
  background: #e3f4ff;
  padding: 8px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.button-container {
  background: #e3f4ff;
  margin-top: 8px;
  padding: 5px;
  padding-left: 175px;

}

button {
  display: block;
  background: white;
  border: 1px solid #eee;
  padding: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: -34px;
}